AutoSync/Web References/SyncSaleDelivery/SyncSaleIssueBill.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kingdee.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kingdee.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kingdee.com/">
      <s:element name="SyncOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cOrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cEasNewOrder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SyncOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SyncOrder" />
  </wsdl:message>
  <wsdl:message name="SyncOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SyncOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncSaleIssueBillSoap">
    <wsdl:operation name="SyncOrder">
      <wsdl:input message="tns:SyncOrderSoapIn" />
      <wsdl:output message="tns:SyncOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncSaleIssueBillSoap" type="tns:SyncSaleIssueBillSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncOrder">
      <soap:operation soapAction="http://www.kingdee.com/SyncOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncSaleIssueBillSoap12" type="tns:SyncSaleIssueBillSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncOrder">
      <soap12:operation soapAction="http://www.kingdee.com/SyncOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncSaleIssueBill">
    <wsdl:port name="SyncSaleIssueBillSoap" binding="tns:SyncSaleIssueBillSoap">
      <soap:address location="http://localhost:32422/SyncSaleIssueBill.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncSaleIssueBillSoap12" binding="tns:SyncSaleIssueBillSoap12">
      <soap12:address location="http://localhost:32422/SyncSaleIssueBill.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>