AutoSync/Web References/SyncPoStore/SyncPurReceivalBill.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kingdee.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kingdee.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kingdee.com/">
      <s:element name="SyncPurReceivalBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cOrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cEasNewOrder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncPurReceivalBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncPurReceivalBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SyncPurReceivalBillSoapIn">
    <wsdl:part name="parameters" element="tns:SyncPurReceivalBill" />
  </wsdl:message>
  <wsdl:message name="SyncPurReceivalBillSoapOut">
    <wsdl:part name="parameters" element="tns:SyncPurReceivalBillResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncOrderSoap">
    <wsdl:operation name="SyncPurReceivalBill">
      <wsdl:input message="tns:SyncPurReceivalBillSoapIn" />
      <wsdl:output message="tns:SyncPurReceivalBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncOrderSoap" type="tns:SyncOrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncPurReceivalBill">
      <soap:operation soapAction="http://www.kingdee.com/SyncPurReceivalBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncOrderSoap12" type="tns:SyncOrderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncPurReceivalBill">
      <soap12:operation soapAction="http://www.kingdee.com/SyncPurReceivalBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncOrder">
    <wsdl:port name="SyncOrderSoap" binding="tns:SyncOrderSoap">
      <soap:address location="http://localhost:32422/SyncPurReceivalBill.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncOrderSoap12" binding="tns:SyncOrderSoap12">
      <soap12:address location="http://localhost:32422/SyncPurReceivalBill.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>